<% include ../partials/header %>
<div class="container" >
    <div class="row">
        <div class="col-md-3">
            <p class="lead"><a class="navbar-brand" href="/">SmartForests Canada</a></p>
            <br><br>
            <div class="list-group">
                <li class="list-group-item "><a href="https://iforet.ca/nextcloud/">File Server (NextCloud)</a></li>
                <li class="list-group-item "><a href="https://plot.ly/~IPython.Demo/10192#plot">Available Data Visualisation</a></li>
                <li class="list-group-item "><a href="http://206.167.88.100:8000/hub/login">Data Analisys (JupyterHub)</a></li>
            </div>
            <div id="map">
                
            </div>
        </div>
        <div class="col-md-9">
            <h1><a><%= researchSite.name%> - Projects </a></h1>
            <div class="thumbnail">
                <div class="caption full">
                    <h4 class="pull-right"></h4>
                    <p>  </p>
                    <p><%= researchSite.description %> </p>
                    <br>
                    <h2 style="text-align:center"><a> PROJECTS</a> </h2>
                </div>
            </div>

            <div class="well">
                 <div class="row">
                    <h3> <a><%= researchSite.titlep1 %> </a></h3>
                        <div class="col-md-12">
                            <p> <%= researchSite.descriptionp1 %> </p>
                            <strong> Team members </strong>
                            <span class="pull-right"><strong>Status:</strong> <%= researchSite.statusp1 %> </span>
                            <p> <a href="<%= researchSite.bioresearcher1 %>"> <%= researchSite.researcherp1 %> </a>  <a href="<%= researchSite.bioresearcher2 %>"> <%= researchSite.researcher2 %> </a>   </p>
                            <p> <strong> Data: </strong> <a href="<%= researchSite.datap1%>">Download  Metadata </a>
                            <span class="pull-right"><strong>Last update:</strong> July 2019</span> </p>
                        </div>
                        <div>
                            <a href="<%= researchSite.refdatavisp1 %>" target="_blank" style="display: block; text-align: center;"><img src="<%= researchSite.datavisp1 %>" style="max-width: 100%;width: 600px;"  onerror="this.onerror=null;this.src='<%= researchSite.onerrorp1 %>';" /></a>
                            <script data-plotly="marinalopez2110:18" sharekey-plotly="nuTZJgZIXAWQeRiHDtmIhB" src="<%= researchSite.scriptp1 %>" async></script>
                        </div>
                  </div>
             </div>

            <div class="well">
                <div class="row">
                    <h3> <a><%= researchSite.titlep2 %> </a></h3>
                    <div class="col-md-12">
                        <p> <%= researchSite.descriptionp2 %> </p>
                        <strong> Team members </strong>
                        <span class="pull-right"><strong>Status:</strong> <%= researchSite.statusp1 %> </span>
                        <p> <%= researchSite.researcherp2 %> </p>
                        <p> <strong> Data: </strong> <a href="<%= researchSite.datap2%>"> Download Metadata </a>
                            <span class="pull-right"><strong>Last update:</strong> July 2019</span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<br><br>
<% include ../partials/footer %>